

<html><head>
  <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/1a057e21-1846-43eb-bdb7-5c1b08925f19%2F129eb7d6ef42e6d2577fc18eaa3379c8.png?v=1613908102188">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <title>Kubiş Bot</title>
  <meta name="title" content="Kubiş Bot Web Sitesi">
<meta name="description" content="KubişBot Türkiyenin En İyi En Gelişmiş Çekiliş Komutlu Ve Yeni Özellikleri Olan Bir Bottur Bot'ta Ayarlanabilir Otorol, Sayaç, Gibi Şeyler Bulunmaktadır Botumuz Tamamen Türkçe'dir.">
<meta property="og:image" content="https://cdn.glitch.com/1a057e21-1846-43eb-bdb7-5c1b08925f19%2F129eb7d6ef42e6d2577fc18eaa3379c8.png?v=1613908102188">
<meta property="og:title" content="Kubiş Bot Web Sitesi">
<meta property="og:description" content="KubişBot Türkiyenin En İyi En Gelişmiş Çekiliş Komutlu Ve Yeni Özellikleri Olan Bir Bottur Bot'ta Ayarlanabilir Otorol, Sayaç, Gibi Şeyler Bulunmaktadır Botumuz Tamamen Türkçe'dir.">
<meta property="og:url" content="http://www.larsweb.tk/">
<meta property="og:color" content="517c97">
<meta name="theme-color" content="#2F3136">
<meta property="theme-color" content="#2F3136">
<meta name="author" content="Ervel">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style>  
  body {
  background: url("https://cdn.discordapp.com/attachments/812706342400688198/812719662584299560/bogdan-mb0sco-coffeeanim.gif") no-repeat fixed center;
}  
</style>
</head>
<body>
<ul>
     {{#if user}}  
  <li><a  href="http://www.kubisbot.tk/"><bold>Ana Sayfa</bold></a></li>
  <li><a href="#" onclick="document.getElementById('id01').style.display='block'">Komut Listesi</a></li>  
  <li class="dropdown">
 <a href="javascript:void(0)" class="dropbtn">Davet Et</a>
          <div class="dropdown-content">
              <a href="https://discord.com/api/oauth2/authorize?client_id=806941670205292565&permissions=8&scope=bot">Rollü Davet</a>
              <a href="https://discord.com/api/oauth2/authorize?client_id=806941670205292565&permissions=0&scope=bot">Rolsüz Davet</a>
    </div>
     <li><a href="#" onclick="document.getElementById('id02').style.display='block'">Öneri Formu</a></li> 
  <li><a href="https://discord.gg/z7sVBZUUKe">Destek Sunucusu</a></li>

  <li class="dropdowna">
  <a href="javascript:void(0)" class="dropbtna">{{user.username}}</a>
  <div class="dropdowna-content">
  <a href="/cikis">Çıkış Yap</a>
     
  </div>
  </li>



  
  </li> 
</ul>
     {{else}} 
  <li><a  href="http://www.kubisbot.tk/"><bold>Ana Sayfa</bold></a></li>
    <li><a href="#" onclick="document.getElementById('lo').style.display='block'">Komout Listesi</a></li> 
  <li><a href="#" onclick="document.getElementById('id01').style.display='block'">Komut Listesi</a></li>  
  <li class="dropdown">
 <a href="javascript:void(0)" class="dropbtn">Davet Et</a>
          <div class="dropdown-content">
              <a href="https://discord.com/api/oauth2/authorize?client_id=806941670205292565&permissions=8&scope=bot">Rollü Davet</a>
              <a href="https://discord.com/api/oauth2/authorize?client_id=806941670205292565&permissions=0&scope=bot">Rolsüz Davet</a>
    </div>
  <li><a href="https://discord.gg/z7sVBZUUKe">Destek Sunucusu</a></li>
<li><a href="/giris" class="as2">Giriş</a></li>
  </li>
</ul>
     {{/if}}

  
  




 

  
 
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="id01" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>

<h2>Çekiliş Komutları</h2>

<button href="#" onclick="document.getElementById('cekbas').style.display='block'" class="button">k!çekiliş-başlat</button><button  href="#" onclick="document.getElementById('cekyen').style.display='block'" class="button">k!çekiliş-yenile</button><button href="#" onclick="document.getElementById('1').style.display='block'" class="button">k!çekiliş-liste</button><button href="#" onclick="document.getElementById('2').style.display='block'" class="button">k!çekiliş-bitir</button><br><br>

<h2>Yetkili Komutları</h2>

<button href="#" onclick="document.getElementById('3').style.display='block'" class="button">k!nuke</button><button href="#" onclick="document.getElementById('sil').style.display='block'" class="button" class="button">k!sil  </button><button href="#" onclick="document.getElementById('otorol').style.display='block'" class="button" class="button">k!otorol-ayarla</button><button href="#" onclick="document.getElementById('rol').style.display='block'" class="button" class="button">k!rol-koruma</button><button href="#" onclick="document.getElementById('yavaş').style.display='block'" class="button" class="button">k!yavaş-mod</button><button href="#" onclick="document.getElementById('reklam').style.display='block'" class="button" class="button">k!reklam-engel </button><button href="#" onclick="document.getElementById('modlog').style.display='block'" class="button" class="button">k!mod-log</button><button href="#" onclick="document.getElementById('saas').style.display='block'" class="button" class="button">k!sa-as</button><button href="#" onclick="document.getElementById('sayac').style.display='block'" class="button" class="button">k!sayaç</button><br><br>
<h2>Eğlence Komutları</h2>

<button href="#" onclick="document.getElementById('yaz').style.display='block'" class="button">k!yaz</button><br><br><br><br><br>
  
 



  
  
  


     </body>  </div></td></tr></tbody></table></td></html></tbody></table></td></body></html>






<style>

</style>








<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
    <style type="text/css">

        @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

    </style>
  <!--<![endif]--><style type="text/css">
  @media only screen and (min-width:480px) {
    .mj-column-per-100, * [aria-labelledby="mj-column-per-100"] { width:100%!important; }
  }
</style>



 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="cekbas" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('cekbas').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!çekiliş-başlat</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div>
  



/////////////////////


 <meta name="viewport" content="width=device-width, initial-scale=1">
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="cekyen" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('cekyen').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!çekiliş-yenile</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="cekbas" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('cekbas').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!çekiliş-başlat</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2> 
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="2" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('2').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!çekiliş-bitir</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="1" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('1').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!çekiliş-liste</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

  

 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="3" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('3').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;     margin: 4px 2px;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;     margin: 4px 2px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!nuke</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="sil" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('sil').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!sil</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
b
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="otorol" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('otorol').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!otorol-ayarla</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="rol" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('rol').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!rol-koruma</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="yavaş" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('yavaş').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!yavaş-mod</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="reklam" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('reklam').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!reklam-engel</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="modlog" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('modlog').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!mod-log</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="saas" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('saas').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!sa-as</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="sayac" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('sayac').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!sayaç</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="yaz" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('yaz').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>

</style>
</head>
     </body>
<body>




<button class="button">k!yaz</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>



      <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="id02" class="modal">
  
  <form class="modal-content" action="basarili" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Öneri</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
          <form action="/basarili" method="POST">
            <hr>
           
              
               <label type="fname" for="fname">Öneriniz:</label><br>
            <textarea type="text" placeholder="Öneriniz" name="ad" required=""></textarea><br>
            

              
              <input type="submit" value="Gönder">
            </form>
          </form>
        </div>
    
  
</div></td></tr></tbody></table></div>

           
           
                 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="sd45" class="modal">
  
  <form class="modal-content" action="sd45" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('sd45').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Öneri</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
          <form action="/sd45" method="POST">
            <hr>
           
              
               <label type="fname" for="fname">Öneriniz:</label><br>
            <textarea type="text" placeholder="Öneriniz" name="ad" required=""></textarea><br>
            

              
              <input type="submit" value="Gönder">
            </form>
          </form>
        </div>