

<html><head>
  <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/1a057e21-1846-43eb-bdb7-5c1b08925f19%2F129eb7d6ef42e6d2577fc18eaa3379c8.png?v=1613908102188">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <title>Kubiş Bot</title>
  <meta name="title" content="Kubiş Bot Web Sitesi">
<meta name="description" content="KubişBot Türkiyenin En İyi En Gelişmiş Çekiliş Komutlu Ve Yeni Özellikleri Olan Bir Bottur Bot'ta Ayarlanabilir Otorol, Sayaç, Gibi Şeyler Bulunmaktadır Botumuz Tamamen Türkçe'dir.">
<meta property="og:image" content="https://cdn.glitch.com/1a057e21-1846-43eb-bdb7-5c1b08925f19%2F129eb7d6ef42e6d2577fc18eaa3379c8.png?v=1613908102188">
<meta property="og:title" content="Kubiş Bot Web Sitesi">
<meta property="og:description" content="KubişBot Türkiyenin En İyi En Gelişmiş Çekiliş Komutlu Ve Yeni Özellikleri Olan Bir Bottur Bot'ta Ayarlanabilir Otorol, Sayaç, Gibi Şeyler Bulunmaktadır Botumuz Tamamen Türkçe'dir.">
<meta property="og:url" content="http://www.larsweb.tk/">
<meta property="og:color" content="517c97">
<meta name="theme-color" content="#2F3136">
<meta property="theme-color" content="#2F3136">
<meta name="author" content="Ervel">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style>  
  body {
  background: url("https://cdn.discordapp.com/attachments/812706342400688198/812719662584299560/bogdan-mb0sco-coffeeanim.gif") no-repeat fixed center;
}  
</style>
  
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: inline-block;
  background-color: #333;
  position: center;
}

li {


float: left;
  position: center;

}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #00d7ff;
    color: Black;
  
}

li.dropdown {
  display: inline-block;
  background-color: #333333;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  color: White;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: White;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
  text-align: left;
}

.dropdown-content a:hover {background-color: #00d7ff; }

.dropdown:hover .dropdown-content {
  display: block;
}
  
</style>
</head>

<body>
  
  
{{#if user}}          
  
  <style>
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 100px;
    box-sizing: border-box;
    color: #fff;
    height: 30px;
    width: 30px;
}
li {
  
  position: center;

}

li a, .dropbtna {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover, .dropdowna:hover .dropbtna {
  background-color: #00d7ff;
    color: Black;
  
}

li.dropdowna {
  display: inline-block;
  background-color: #333333;
    position: fixed;
  right: 10px;
}

.dropdowna-content {
  display: none;
  position: absolute;
  background-color: #333333;
  color: White;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    position: fixed;
  right: 10px;
}

.dropdowna-content a {
  color: White;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdowna-content a:hover {background-color: #00d7ff; }

.dropdowna:hover .dropdowna-content {
  display: block;
}
</style>
  
  
  
  <li class="dropdowna">
               <a href="javascript:void(0)" class="dropbtna">{{user.username}}</a>
       
    
   <div class="dropdowna-content">
                <a href="/cikis">Çıkış Yap</a>
     
  </div>
  </li>
        {{else}}

        {{/if}}

    
    
    {{{body}}}
 
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="id01" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
    border-radius: 8px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>

<h2>Çekiliş Komutları</h2>

<button href="#" onclick="document.getElementById('cekbas').style.display='block'" class="button">k!çekiliş-başlat</button><button  href="#" onclick="document.getElementById('cekyen').style.display='block'" class="button">k!çekiliş-yenile</button><button href="#" onclick="document.getElementById('1').style.display='block'" class="button">k!çekiliş-liste</button><button href="#" onclick="document.getElementById('2').style.display='block'" class="button">k!çekiliş-bitir</button><br><br>

<h2>Yetkili Komutları</h2>

<button href="#" onclick="document.getElementById('3').style.display='block'" class="button">k!nuke</button><button href="#" onclick="document.getElementById('sil').style.display='block'" class="button" class="button">k!sil  </button><button href="#" onclick="document.getElementById('otorol').style.display='block'" class="button" class="button">k!otorol-ayarla</button><button href="#" onclick="document.getElementById('rol').style.display='block'" class="button" class="button">k!rol-koruma</button><button href="#" onclick="document.getElementById('yavaş').style.display='block'" class="button" class="button">k!yavaş-mod</button><button href="#" onclick="document.getElementById('reklam').style.display='block'" class="button" class="button">k!reklam-engel </button><button href="#" onclick="document.getElementById('modlog').style.display='block'" class="button" class="button">k!mod-log</button><button href="#" onclick="document.getElementById('saas').style.display='block'" class="button" class="button">k!sa-as</button><button href="#" onclick="document.getElementById('sayac').style.display='block'" class="button" class="button">k!sayaç</button><br><br>
<h2>Eğlence Komutları</h2>

<button href="#" onclick="document.getElementById('yaz').style.display='block'" class="button">k!yaz</button><br><br><br><br><br>
  
 



  
  
  


     </body>  </div></td></tr></tbody></table></td></html></tbody></table></td></body></html>






<style>
.as2 {
  background-color: #333333;
 position: fixed;
  top: 10px;
  right: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
  li a:hover{
  background-color: #00d7ff;
    color: Black;
  
}
</style>








<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
    <style type="text/css">

        @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

    </style>
  <!--<![endif]--><style type="text/css">
  @media only screen and (min-width:480px) {
    .mj-column-per-100, * [aria-labelledby="mj-column-per-100"] { width:100%!important; }
  }
</style>



 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="cekbas" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('cekbas').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!çekiliş-başlat</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>
  
 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="cekyen" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('cekyen').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!çekiliş-yenile</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="cekbas" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('cekbas').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!çekiliş-başlat</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2> 
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="2" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('2').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!çekiliş-bitir</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="1" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('1').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!çekiliş-liste</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

  

 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="3" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('3').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!nuke</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="sil" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('sil').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!sil</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="otorol" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('otorol').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!otorol-ayarla</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="rol" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('rol').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!rol-koruma</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="yavaş" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('yavaş').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!yavaş-mod</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="reklam" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('reklam').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!reklam-engel</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>
 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="modlog" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('modlog').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!mod-log</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>
 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="saas" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('saas').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!sa-as</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>
 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="sayac" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('sayac').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!sayaç</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 650px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>
 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="yaz" class="modal">
  

    <div class="imgcontainer">
      <span onclick="document.getElementById('yaz').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Komutlar Listesi</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
       
          <style>
.button {
  background-color: #348576;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
    width: 300px;
}

.button:hover {opacity: 1}
</style>
</head>
     </body>
<body>




<button class="button">k!yaz</button><br><br><br><br><br>
<h2>bilmem ne bilmem ne</h2>
        
    
  
     </body></td></tr></tbody></table></div></div></td></tr></tbody></table></td></body>



      <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #00d7ff;
  color: Black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #348576;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 665px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="id02" class="modal">
  
  <form class="modal-content" action="basarili" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Öneri</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
          <form action="/basarili" method="POST">
            <hr>
           
              
               <label type="fname" for="fname">Öneriniz:</label><br>
            <textarea type="text" placeholder="Öneriniz" name="ad" required=""></textarea><br>
            

              
              <input type="submit" value="Gönder">
            </form>
          </form>
        </div>
    
  
</div></td></tr></tbody></table></div>

           
           
                 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
  
  
   textarea[type=text], select {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

    
      input[type=number], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    
input[type=submit] {
  width: 100%;
  background-color: #00d7ff;
  color: Black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #348576;
}
    
    label[type=fname] {
  color: White;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */


/* The Close Button (x) */
.close {
  position: absolute;
  top: 76px;
  right: 665px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
    -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>


 <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="center">
       <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
         <tbody>
           <tr>
             <td>
             

 
<div id="sd45" class="modal">
  
  <form class="modal-content" action="sd45" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('sd45').style.display='none'" class="close" title="Formu Kapat">&times;</span>
      
    </div>

   <div style="margin:0 auto;max-width:640px;background:#23272A;box-shadow:5px 5px 5px rgba(0,0,0,0.1);border-radius:0px;overflow:hidden;border-color:#2C2F33;"><div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;"></div><table cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#23272A;" align="center" border="0">
     
</table><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0"><tbody><tr><td style="word-break:break-word;font-size:0px;padding:30px 70px 0px 70px;background: #00d7ff;" align="center"><div style="cursor:auto;color:#2a2929;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:22px;font-weight:bold;line-height:20px;text-align:center;min-height: 40px;">Öneri</div></td></tr><tr><td style="word-break:break-word;font-size:0px;padding:14px 70px 30px 70px;background: #2C2F33;" align="center"><div style="cursor:auto;color:#737F8D;font-family:Whitney, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-size:16px;line-height:22px;text-align:center;">
      <br> 

    
        <div>
          <form action="/sd45" method="POST">
            <hr>
           
              
               <label type="fname" for="fname">Öneriniz:</label><br>
            <textarea type="text" placeholder="Öneriniz" name="ad" required=""></textarea><br>
            

              
              <input type="submit" value="Gönder">
            </form>
          </form>
        </div>